@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drawer-card-item-close {
    position: relative;
    z-index: 1000;
    top: -52px;
    left: 297px;
    font-size: 20px;
}
